<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
<!--         
        <property name="hibernate.connection.password">hz+gzy_shallway_sg</property>
        <property name="hibernate.connection.url">jdbc:mysql://shallway.crpkvdnondxn.ap-southeast-1.rds.amazonaws.com:3306/shallway</property>
        <property name="hibernate.connection.username">shallway</property>
  -->       
        <property name="hibernate.connection.password">shallway</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/shallway</property>
        <property name="hibernate.connection.username">root</property>
        
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.dbcp.validationQuery">SELECT 1 FROM DUAL</property>
		<property name="hibernate.dbcp.testOnBorrow">true</property>
		
		
        <property name="hibernate.connection.provider_class">com.william.util.DBCPConnectionProvider</property>
		<property name="hibernate.dbcp.initialSize">8</property>
		<property name="hibernate.dbcp.maxActive">20</property>
		<property name="hibernate.dbcp.maxIdle">20</property>
		<property name="hibernate.dbcp.minIdle">0</property>
	        
	        
	        <!-- 
<property name="dbcp.maxActive">17</property>
<property name="dbcp.maxWait">120000</property>
<property name="dbcp.maxIdle">3</property>
Action to take in case of an exhausted DBCP connection pool
   ( 0 = fail, 1 = block, 2= grow)
  <property name="dbcp.whenExhaustedAction">1</property>
  <property name="dbcp.ps.maxActive">150</property>
  <property name="dbcp.ps.whenExhaustedAction">2</property>
  <property name="dbcp.ps.maxWait">120000</property>
  <property name="dbcp.ps.maxIdle">10</property>
  <property name="dbcp.validationQuery">select 1</property>
  <property name="dbcp.testOnBorrow">true</property>
  <property name="dbcp.testOnReturn">false</property>
  --> 
        <mapping resource="mapping/LatestCoordinate.hbm.xml"></mapping>
        <mapping resource="mapping/Profile.hbm.xml"></mapping>
        <mapping resource="mapping/ShallWay.hbm.xml"></mapping>
        <mapping resource="mapping/AddressHistory.hbm.xml"></mapping>       
		<mapping resource="mapping/Reply.hbm.xml"></mapping>   
		<mapping resource="mapping/Follow.hbm.xml"></mapping> 
		<mapping resource="mapping/Message.hbm.xml"></mapping>     
		<mapping resource="mapping/ShallWayView.hbm.xml"></mapping>
		<mapping resource="mapping/WorldCities.hbm.xml"></mapping>
		<mapping resource="mapping/BlackList.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>
